{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Musician and Album Directory</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Musician Name</th>
            <th>Email</th>
            <th>Album Rating</th>
            <th>Instrument Type</th>
            <th>Album Name</th>
            <th>Release Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for musician in musicians %}
            {% for album in musician.album_set.all %}
                <tr>
                    <td>{{ musician.id }}</td>
                    <td><a href="{% url 'edit_musician' musician.id %}">{{ musician.first_name }} {{ musician.last_name }}</a></td>
                    <td>{{ musician.email }}</td>
                    <td>{{ album.rating }}</td>
                    <td>{{ musician.instrument_type }}</td>
                    <td>{{ album.name }}</td>
                    <td>{{ album.release_date }}</td>
                    <td>
                        <a href="{% url 'edit_album' album.id %}" class="btn btn-primary">Edit</a>
                        <a href="{% url 'delete_album' album.id %}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}
